<%- include("partials/header"); -%>

    <div class="row">
        <div class="col-md-6 hero">
            <header id="header">
            </header>
            <header class="hero-header">
                <h1 class="hero-title mb-4">A Trip To <%=foundID.destination%>
                </h1>
                <h3 class="m-0">from <%=foundID.startDate%>
                </h3>
                <h3 class="m-0">to <%=foundID.endDate%>
                </h3>
            </header>
            <footer class="hero-footer">
                <a class="btn btn-light" href="/planner">Create a new plan</a>
                <form method="POST" action="/myplans/<%= foundID.id %>/delete">
                    <button class="btn btn-outline-light" type="submit">Delete this plan</button>
                </form>
            </footer>
        </div>

        <div class="col-md-6" id="todolistcheck">
            <h2 class="checklist-title text-center mb-4">Trip Checklist</h2>
            <ol class="gradient-list">
                <% foundID.checklistdefault.forEach((item, i)=> { %>
                    <li>
                        <form action="/checkeddefaultitemdelete" method="post">
                            <input type="checkbox" name="currentCheckbox" value="<%=item._id%>"
                                onchange="this.form.submit()">
                            </input>
                            <label>
                                <a href="<%=item.url%>">
                                    <%= item.name %>
                                </a>
                            </label>
                            <input type="hidden" name="checkedPlanID" value="<%= foundID.id%>"></input>
                        </form>
                    </li>
                    <% }); %>

                        <% foundID.checklistdynamic.forEach((item, i)=> { %>
                            <li>
                                <form action="/checkeddynamicitemdelete" method="post">
                                    <input type="checkbox" name="currentCheckbox" value="<%=item._id%>"
                                        onchange="this.form.submit()">
                                    </input>
                                    <label>
                                        <a href="<%=item.url%><%=foundID.locationID%>">
                                            <%= item.name %>
                                        </a>
                                    </label>
                                    <input type="hidden" name="checkedPlanID" value="<%= foundID.id%>"></input>
                                </form>
                            </li>
                            <% }); %>

            </ol>

            <% if(foundID.checklistdefault.length===0 && foundID.checklistdynamic.lenght===0) { %>
                <div class="px-4 my-2 text-center goodygoody">
                    <i class="fa-regular fa-face-smile fa-4x my-2"></i>
                    <h3 class="display-5 fw-bold">You are good to go!</h3>
                </div>
                <% } %>
        </div>


        <%- include("partials/footer"); -%>
